
body {
  font-family: 'Press Start 2P', cursive;
  /* padding: 0 5% 4% 5%; */
  /*background-color: #CC0A3E;*/
  margin: 0;
   background-color: #FE0700;
  /*height: 100vh;*/
}

#loading--screen {
  position: absolute;
  top: 0;
  width: 100vw;
  text-align: center;
  color: white;
   background-image: url(img/poke-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.main-wrapper {
  background-color: #FE0700;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  padding: 0px 46px;
}

.hidden {
  display: none;
}

#ball {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: moveLeftToRight;
  animation-duration: 2s;
  animation-iteration-count: 1;
  z-index: 2;
}

.music {
  float: right;
  width: 150px;
}

#title {
  font-family: 'Russo One', sans-serif;
  text-align: center;
  font-size: 27px;
  margin: 0 auto;
  animation-name: spin;
  animation-duration: .5s;
  animation-iteration-count: 3;
  animation-timing-function: linear;
}

nav {
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 1%;
  box-shadow: 0 2px 5px black;

}

#pokemon {
  position: absolute;
  top: 65px;
  left: 430px;
  width: 180px;
  height: 180px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* -------------------------------ATTACK ANIMATION----------------------------------- */
@keyframes attack {
  from{
    margin-top: 0;
  }
  50% {
    margin-top: 20%;

  }
  to {
    margin-top: 0;
  }
}

@keyframes attack2 {
  from {
    margin-left: 0;
  }
  50% {
    margin-left: -50%;

  }
  to {
    margin-left: 0;
  }
}

@keyframes attack3 {
  from {
    width: 180px;
    height: 180px;
  }
  50% {
    width: 290px;
    height: 290px;
  }
  to{
    width: 180px;
    height: 180px;
  }
}

.attack_button {
  margin: 0 auto;
  width: 160px;
  background-color: #870000;
  border-radius: 50%;
  color: yellow;
  text-align: center;
  font-size: 1.4em;
  padding: 20px 0;
  border: 7px solid white;
}

/* ------------------------------------END-------------------------------------- */

@keyframes pokemonslidein {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}

.stat_screen {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 50%;
  min-width: 207px;
  height: 170px;
  margin: 0 auto;
  border-radius: 5%;
  background-color: #16FD00;
  border: 6px solid #095e00;
  text-align: center;
}

.stat_screen h4 {
  font-size: 10px;
  font-weight: bold;
}

.quadrent {
  display: inline-block;
}

.name_blip {
  position: absolute;
  top: 100px;
  left: 300px;
  text-align: center;
  background-color: #e0dcc4;
  width: 150px;
  height: 20px;
  padding: 5px;
  border-radius: 10px;
  border: 5px solid #526664;
}

#name_of_pokemon {
  font-size: 10px;
  transition: .1s;
}

.abilities {
  font-size: 8px;
  margin: 7px 15px;
  text-align: left;
  list-style: none;
}

.d-pad{
  margin-top: 35px;
  text-align: center;
  max-width: 100%;
  min-width: 240px;
}

/* #left{
  float: left;
}

#right{
  float: right;
} */

#left, #right {
  font-size: 7em;
  color: black;
  opacity: 0.5
}

.background {
  position: relative;
  overflow: hidden;
  width: 700px;
  height: 500px;
  background-image: url('img/backgrounds.jpg');
  border: 10px solid;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#pikachu{
  position: absolute;
  top: 200px;
  left: 20px;
  width: 320px;
  height: 320px;
  background-repeat: no-repeat;
  background-size: contain;

  animation-name: slideinpikachu;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes slideinpikachu {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

#pad1 {
  top: 400px;
  left: 60px;
  width: 220px;
  height: 60px;
}

#pad2 {
  top: 175px;
  left: 450px;
  width: 150px;
  height: 40px;
}

.pad {
  position: absolute;
  background-image: url('img/battlepad1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 105% 120%;
  border-radius: 50%;
  box-shadow: 0 2px 2px black;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@media(max-width:990px) {
  .grid-wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: .8fr 1fr;
  }
  .background {
    margin: 0 auto;
    width: 600px;
    height: 400px;
  }
  #pikachu{
    top: 120px;
  }
  #pad1 {
    top: 310px;
  }
  #pokemon{
    top: 2px;
    left: 368px;
  }
  #pad2 {
    top: 113px;
    left: 392px;
    width: 126px;
    height: 43px;
  }
  .name_blip {
    top: 53px;
    left: 246px;
    width: 122px;
  }
  .d-pad {
    margin-top: 0px;
  }
}

/* ------------------Right Half-------------- */

.d-pad,.attack_button,.stat_screen {
  margin-bottom: 23px;
}
