body {
  font-family: 'Press Start 2P', cursive;
  /* padding: 0 5% 4% 5%; */
  background-color: #CC0A3E;
  margin: 0;
  /* background-color: #FE0700; */
}

#title {
  font-family: 'Russo One', sans-serif;
  text-align: center;
  font-size: 27px;
  margin: 0 auto;
}

nav {
  background-color: white;
  margin: 0;
  padding: 1%;
  box-shadow: 0 2px 5px black;

}

#pokemon {
  position: absolute;
  top: 130px;
  left: 430px;
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#blue_circle_button {
  position: absolute;
  top: 470px;
  left: 80px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #327AFC;
  box-shadow: -2px 2px #034c03;
}

#yellow_screen{
  position: absolute;
  top: 570px;
  left: 160px;
  width: 150px;
  height: 70px;
  background-color: #FCFA04;
  border-radius: 5%;
  box-shadow: 0 3px #7c4b01;
}

#main_screen, #second_screen {
  position: absolute;
}

#second_screen {
  top: 180px;
  left: 65vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 300px;
  height: 170px;

  border-radius: 5%;
  background-color: #16FD00;
  border: 6px solid #095e00;
  text-align: center;
}

#second_screen h4 {
  font-size: 10px;
  font-weight: bold;
}

.quadrent {
  display: inline-block;
}

.name_blip {
  position: absolute;
  top: 150px;
  left: 300px;
  text-align: center;
  background-color: #e0dcc4;
  width: 150px;
  height: 30px;
  padding: 1px;
  border-radius: 10px;
}

#name_of_pokemon {
  font-size: 10px;
  transition: .1s;
}

.abilities {
  font-size: 8px;
  margin: 7px 15px;
  text-align: left;
}

button {
  display: inline-block;
  width: 35px;
  height: 35px;
  /* text-align: center; */
  font-size: 2em;
  margin: 0 1%;
  /* border: 0; */
}

#d-pad {
  width: 100px;
  position: absolute;
  top: 470px;
  left: 75vw;
}

/* --------------------------------FAUX BUTTONS--------------------------------*/

#blue_set {
  position: absolute;
  top: 380px;
  left: 67.5vw;
  width: 20vw;
  height: 70px;
  background-image: url('img/blue-button-set.jpg');
  background-size: 100% 100%;
}

#orange_circle, #green_circle{
  position: absolute;
  top: 470px;
  height: 25px;
  border-radius: 50%;
}

#orange_circle{
  background-color: #FC9A04;
  left: 67.5vw;
  width: 2vw;
  box-shadow: -2px 2px #963c04;
}

#green_circle {
  background-color: #16FD00;
  left: 70.5vw;
  width: 2vw;
  box-shadow: -2px 2px #034c03;
}

#orange_oval {
  position: absolute;
  top: 475px;
  background-color: #FC9A04;
  left: 79vw;
  width: 3.8vw;
  border-radius: 40%;
  height: 10px;
  box-shadow: -2px 2px #963c04;
}

#green_oval {
  position: absolute;
  top: 475px;
  background-color: #16FD00;
  left: 83.8vw;
  width: 3.8vw;
  border-radius: 40%;
  height: 10px;
  box-shadow: -2px 2px #034c03;
}

.orange_screens{
  position: absolute;
  top: 570px;
  left: 79vw;
  width: 11.5vw;
  height: 60px;
  background-color: #FC9A04;
  border-radius: 5%;
  box-shadow: -2px 3px #7c4b01;
}

#first_orange_screen {
  left: 65vw;
}

#background {
  position: absolute;
  top: 100px;
  left: 40px;
  width: 700px;
  height: 500px;
  background-image: url('img/backgrounds.jpg');
  border: 10px solid;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#pikachu{
  position: absolute;
  top: 300px;
  width: 320px;
  height: 320px;
  background-repeat: no-repeat;
  background-size: contain;
}

#pad1 {
  position: absolute;
  top: 500px;
  left: 55px;
}

#pad2 {
  position: absolute;
  top: 250px;
  left: 460px;
  width: 150px;
  height: 25px;
}

.pad {
  width: 200px;
  height: 50px;
  background-image: url('img/battlepad1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 105% 120%;
  border-radius: 50%;
  box-shadow: 0 2px 2px black;
}
